fastapi
uvicorn[standard] # [standard] для поддержки websockets и др.
sqlalchemy
psycopg2-binary # Для PostgreSQL
minio
streamlit
opencv-python-headless # headless версия, если не нужна GUI в контейнере
mediapipe
ultralytics
requests
Pillow
python-dotenv 
prometheus_fastapi_instrumentator
streamlit-webrtc 
tensorflow # или tflite-runtime
numpy 
pandas 
librosa # librosa для возможной передискретизации аудио
streamlit-audiorec